@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    font-family: "Tagesschrift", system-ui;
    font-weight: 300;
    font-size: 20px;
    color: #866c62;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
    background-image: url(background.jpg);
    background-size: cover;
}

section{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 3px white solid;
}

input{
    background-color: #d4ab9ab9;
    border-style: none;
    border-radius: 10px;
}

button{
    border-style: none;
    background-color: #d4ab9ab9;
    border-radius: 10px;
    transition: all 0.5s ease;
}

button:hover{
    transform: scale(1.25);
}

span{
    font-weight: 400;
    font-size: 23px;
    font-style: italic;
    text-transform: capitalize;
    color: #64544e;
}